<% include ../../layout/header %>

<div class="page-header">
    <h1><%=processor.title %></h1>
</div>

<p><%-back_link() %></p>

<h2>CURL conditions</h2>
<pre>
    <%=processor.conditions.can_get %>
</pre>

<h2>Data conditions</h2>
<pre>
    <%=processor.conditions.can_process %>
</pre>

<p><%-back_link() %></p>

<% include ../../layout/footer %>
