<% include ../layout/header %>

<div class="page-header">
    <h1><%=api.title %></h1>
</div>

<div class="panel panel-info panel-expandable">
    <div class="panel-heading">
        <h2>Configure your API</h2>
    </div>
    <form action="<%=req.path %>" method="get" class="form-horizontal">

        <% include ../layout/_api_fields %>

        <div class="col-lg-offset-2">
            <button type="submit" class="btn btn-success btn-sm">Build API</button>
        </div>
    </form>
</div>

<p><a href="<%= api_url %>" target="_blank"><%= api_url %></a></p>
<iframe src="<%= api_url %>">Loading API <%= api_url %></iframe>

<p><a href="/" class="btn btn-default">Back</a></p>

<% include ../layout/footer %>