<% include ../layout/header %>

<div class="jumbotron">
    <h1>FT Analytics API</h1>
    <p>An API for Analytics data!</p>
</div>

<% if (apis.length > 0) { %>
<% apis.forEach(function (api, index) { %>
<div class="col-lg-5<%=(index % 2 === 0 ? '' : ' col-lg-offset-1') %> panel panel-info">
    <div class="panel-heading"><h2><%=api.title %></h2></div>
    <%-format(api.description) %>
    <div class="panel-footer"><%-link_to('builder', api, 'Build my feed', { 'class':'btn btn-xs btn-primary' }) %> <%-link_to('api', api, 'Just give me JSON!', { 'class':'btn btn-xs btn-success', 'target':'_blank' }) %></div>
</div>
<% }) %>
<% } %>

<% include ../layout/footer %>