<% include ../layout/header %>

<div class="jumbotron">
    <h1>FT Analytics API</h1>
    <p>An API for Analytics data!</p>
</div>

<% if (apis.length > 0) { %>
<% apis.forEach(function (api, index) { %>
<% if (index % 2 !== 0) { %>
<div class="row">
    <% } %>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading"><h2><%=api.title %></h2></div>
            <%-format(api.description) %>
            <div class="panel-footer">
                <%-link_to('chart_builder', api, 'Build my chart', { 'class':'btn btn-xs btn-success' }) %>
                <%-link_to('api_builder', api, 'Build my feed', { 'class':'btn btn-xs btn-success' }) %>
                <%-link_to('api', api, 'Just give me JSON!', { 'class':'btn btn-xs btn-primary pull-right', 'target':'_blank' }) %>
            </div>
        </div>
    </div>
    <% if (index % 2 !== 0) { %>
</div>
<% } %>
<% }) %>
<% } %>

<% include ../layout/footer %>