<% include ../layout/header %>

<div class="page-header">
    <h1>New chart</h1>
</div>

<form action="/charts/new" method="get" class="form-inline">
    <label for="chart_api" class="col-lg-1">API</label>
    <div class="col-lg-3">
        <select id="chart_api" name="api" class="form-control">
            <% apis.forEach(function (api) { %>
            <option value="<%=api._id%>"<%= (api._id.toString() === req.query.api ? ' selected="selected"' : '') %>><%=api.title %></option>
            <% }); %>
        </select>
    </div>
    <button class="btn btn-success">Choose</button>
</form>

<form action="/charts/new" method="post" class="form-horizontal">
    <%-csrf() %>
    <input type="hidden" name="chart[_id]" value="<%=chart._id%>" />

    <fieldset>
        <legend>New Chart</legend>

        <% if (req.query.api) { %>
        <% include _form %>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-11">
                <p><button type="submit" class="btn btn-success">Create Chart</button></p>
                <p><a href="/charts" class="btn btn-danger btn-xs">Back</a></p>
            </div>
        </div>
        <% } %>
    </fieldset>
</form>

<% include ../layout/footer %>