<% if (api.columns.length > 0) { %>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Configure your API</h2>
    </div>
    <form action="/builder/<%=api._id%>" method="get" class="form-inline">
        <label>
            Rolling date
            <input type="number" name="date" placeholder="1" value="<%=req.query.date %>" maxlength="2" style="width:4em;" />
            days
        </label>


        <% api.columns.forEach(function(column) { %>
        <% if (column.values.length > 0) { %>
        <label>
            <%=column.name %>
            <% if (column.values.length > 100) { %>
            <input type="text" name="<%=column.name %>" value="<%=(req.query.hasOwnProperty(column.name) ? req.query[column.name] : '') %>" placeholder="(Too many values to show - please enter manually)" /></option>
            <% } else { %>
            <select name="<%=column.name %>">
                <option value="">All</option>

                <% column.values.forEach(function(value) { %>
                <option value="<%=value %>"<%-selected(column.name, value) %>><%=value %></option>
                <% }); %>
                <% } %>
            </select>
        </label>
        <% } %>
        <% }); %>

        <button type="submit" class="pull-right btn btn-success btn-sm">Build API</button>
    </form>
</div>
<% } %>