<%-messages() %>

<%-form_field('text', 'chart', 'title', chart.title, {label: 'Title', placeholder: 'Title', required: true, help: 'Give the Chart a name.'}) %>

<% if (api.columns.length > 0) { %>
<% api.columns.forEach(function(column) { %>
<% if (column.values.length > 0) { %>
<%- field_group_start('columns') %>
<label class="control-label"><%=column.name %></label>
<div class="controls">
    <select name="<%=column.name %>">
        <option value="">All</option>
        <% column.values.forEach(function(value) { %>
        <option value="<%=value %>"<%-selected(column.name, value) %>><%=value %></option>
        <% }); %>
    </select>
</div>
<%- field_group_end() %>
<% } %>
<% }); %>
<% } %>
