<%-messages() %>

<div class="row">
    <div class="col-lg-6">

        <%-field_group_start('dataUrl') %>
        <%-label_for('api','dataUrl', {label: 'Data URL'}) %>
        <div class="col-lg-8">
            <%-text_field_for('api','dataUrl', api.dataUrl, { placeholder: 'Data URL', required: true }) %>
            <span class="help-block">The URL of the API within iJento.</span>
        </div>
        <button class="btn btn-primary" type="button" id="grab_api_url">Grab.</button>
        <%-field_group_end() %>

        <%-form_field('text', 'api', 'title', api.title, {label: 'Title', placeholder: 'Title', required: true, help: 'Give the API a name.'}) %>

        <%-form_field('textarea', 'api', 'description', api.description, {label: 'Description', placeholder: 'Description', help: 'What the API does.'}) %>

        <%-form_field('select', 'api', 'frequency', api.frequency, {values: ['minute', '10 minutes', 'hour', '2 hours', '6 hours', '12 hours', 'day'], label: 'Update frequency', required: true, help: 'How often to get the feed.'}) %>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <fieldset>
                <legend>Columns</legend>
                <ul id="api_columns">
                    <% if (api.columns.length > 0) { %>
                    <% api.columns.forEach(function(column) { %>
                    <li><%=column.name %></li>
                    <% }); %>
                    <% } else { %>
                    <p class="muted">(Try grabbing the URL first!)</p>
                    <% } %>
                </ul>
            </fieldset>
        </div>
    </div>
</div>