<% include ../../layout/header %>

<div class="page-header">
    <h1><%=api.title %></h1>
</div>

<div class="well">
    <div class="pull-right"><a href="<%=req.url %>/edit" class="btn btn-primary">Edit</a></div>
    <%-format(api.description) %>
</div>

<%-messages() %>

<div class="row-fluid">
    <div class="span6">
        <h2>Columns</h2>
        <% if (api.columns.length > 0) { %>
        <ol>
            <% api.columns.forEach(function(column) { %>
            <li><%=column.name %>
                <% if (column.values.length > 0) { %>
                <ul>
                    <% column.values.forEach(function(value) { %>
                    <li><%=value %></li>
                    <% }); %>
                </ul>
                <% } %>
            </li>
            <% }); %>
        </ol>
        <% } else { %>
        <div class="alert alert-error">No columns</div>
        <% } %>
    </div>
    <div class="span6">
        <h2>Data</h2>
        <p>URL: <a href="<%=api.dataUrl %>" target="_blank"><%=api.dataUrl %></a></p>
        <p>Last updated: <%= (api.lastDataUpdate.getTime() === (new Date(0)).getTime() ? 'never' : api.lastDataUpdate) %></p>
        <p>Number of records: <%=api.num_records %></p>
        <p>
            <a href="?populateData" class="btn btn-warning">Populate with latest data</a>
            <a href="?emptyData" class="btn btn-small btn-danger">Empty data</a>
        </p>

        <h2>Charts</h2>
        <p><a class="btn btn-primary" href="<%=req.url%>/charts">Configure charts</a></p>

    </div>
</div>

<% include _build_options %>

<% include ../../layout/footer %>
