<% include ../../layout/header %>

<div class="page-header">
    <h1><%=api.title %></h1>
</div>

<p><a href="./" class="btn btn-default">Back</a></p>

<div class="panel">
    <div class="pull-right"><a href="<%=req.url %>/edit" class="btn btn-primary btn-sm">Edit</a></div>
    <%-format(api.description) %>
</div>

<%-messages() %>

<div class="row">
    <div class="col-lg-6">
        <h2>Columns</h2>
        <% if (api.columns.length > 0) { %>
        <ol>
            <% api.columns.forEach(function(column) { %>
            <li><%=column.name %>
                <% if (column.values.length > 0) { %>
                <% if (column.values.length > 100) { %>
                <ul><li><span class="label label-warning">Warning</span> (Too many to show)</li></ul>
                <% } else { %>
                <ul>
                    <% column.values.forEach(function(value) { %>
                    <li><%=value %></li>
                    <% }); %>
                </ul>
                <% } %>
                <% } %>
            </li>
            <% }); %>
        </ol>
        <% } else { %>
        <div class="alert alert-error">No columns</div>
        <% } %>
    </div>
    <div class="col-lg-6">
        <h2>Data</h2>
        <p>URL: <a href="<%=api.dataUrl %>" target="_blank"><%=api.dataUrl %></a></p>
        <p>Last updated: <%= (api.lastDataUpdate.getTime() === (new Date(0)).getTime() ? 'never' : api.lastDataUpdate) %></p>
        <p>Number of records: <%=api.num_records %></p>
        <p>Update frequency: <%=api.frequency %> (Next update: <%=new Date((new Date()).getTime() + api.next_update()) %>)</p>
        <p>
            <a href="?populateData" class="btn btn-warning">Populate with latest data</a>
            <a href="?emptyData" class="btn btn-xs btn-danger">Empty data</a>
        </p>

    </div>
</div>

<p><a href="./" class="btn btn-default">Back</a></p>

<% include ../../layout/footer %>
