<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%=chart_title %></title>
</head>
<body>

<p><%=chart_title %></p>
<p><%=api_url %></p>
<p><%=req.url %></p>
<p><%=date %></p>
<pre><%=inspect(params) %></pre>

</body>
</html>